* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgba(54, 54, 54, 0.411);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor {
    position: relative;
    width: 100%;

    max-width: 1350px;
    min-height: 1450px;


    background-color: white;
    display: grid;
    grid-template-rows: 3% 5%  50% 42%;


}


/*parte 1*/

.parte1 {
    display: grid;
    grid-template-columns: 0.9fr 9fr 2fr 1fr 1fr 1fr;
    background-color: #978b8b1f;
}

.encavesado1 {
    background-image: url(jordan.png);
    background-size: 23px;
    background-position: 80% 60%;
    background-repeat: no-repeat;
    height: 30px;

}

.encavesado2 {
    background-image: url(Converse-logo-3.png);
    background-size: 27px;
    background-position: 1.6% 58%;
    background-repeat: no-repeat;

    height: 30px;

}

.encavesado3 h1 {
    font-size: 0.75rem;
    margin-top: 6%;
    margin-left: 10%;
}


.encavesado4 h1 {
    font-size: 0.75rem;
    margin-top: 11%;
    margin-left: -42%;
}

.encavesado5 h1 {
    font-size: 0.75rem;
    margin-top: 11%;
    margin-left: -80%;
}

.encavesado6 h1 {
    font-size: 0.75rem;
    margin-top: 11%;
    margin-left: -42%;
}

.encavesado3 .lineacorta1 {
    width: 0.1rem;
    height: 0.7rem;
    margin-top: -0.8rem;
    margin-left: 8.3rem;
    background-color: #000000;
    position: absolute;
}

.encavesado4 .lineacorta2 {
    width: 0.1rem;
    height: 0.7rem;
    margin-top: -0.8rem;
    margin-left: 0.5rem;
    background-color: #000000;
    position: absolute;
}

.encavesado5 .lineacorta3 {
    width: 0.1rem;
    height: 0.7rem;
    margin-top: -0.8rem;
    margin-left: 2.4rem;
    background-color: #000000;
    position: absolute;
}

/*parte 2*/

.parte2 {    
    display: grid;
    grid-template-columns: 1.3fr 3.9fr 0.6fr 0.5fr 0.8fr 1fr 2fr 0.5fr 0.5fr;
}

.parte2encabesa1 {
    background-image: url(nike.png);
    background-size: 80px;
    background-position: 70% 45%;
    background-repeat: no-repeat;
    height: 60px;
}

.parte2encabesa2 h1 {
    font-size: 0.9rem;
    margin-top: 4%;
    margin-left: 61%;
}

.parte2encabesa3 h1 {
    font-size: 0.9rem;
    margin-top: 25%;
    margin-left: 10%;
}

.parte2encabesa4 h1 {
    font-size: 0.9rem;
    margin-top: 30%;
    margin-left: 23%;
}

.parte2encabesa5 h1 {
    font-size: 0.9rem;
    margin-top: 20%;
    margin-left: 25%;
}

.parte2encabesa6 h1 {
    font-size: 0.9rem;
    margin-top: 16%;
    margin-left: 25%;
}



.chance {
    margin-top: 10px;
    margin-left: 45px;
    width: 180px;
    height: 40px;

    background-image: url(lupa.png);
    background-size: 20px;
    background-position: 7% 58%;
    background-repeat: no-repeat;

    border: 2px solid white; 
    background-color: #ffffff; 
    transition: background-color 0.01s ;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

.parte2encabesa8:hover,.parte2encabesa9:hover, .chance:hover {
    background-color: #f1ebeb; 
}


.chance h1 {
    font-size: 1rem;  
    margin-left: -20%;
    color: rgb(130, 135, 139);
}

.parte2encabesa8 {
    margin-top: 10px;
    margin-left: -4px;
    width: 40px;
    height: 40px;
    border-radius: 45%;

    background-image: url(corazon.png);
    background-size: 22px;
    background-position: 45% 58%;
    background-repeat: no-repeat;

    border: 2px solid white; 
    background-color: #ffffff; 
    transition: background-color 0.01s ;


}
.parte2encabesa9 {
    margin-top: 10px;
    margin-left: -28px;
    width: 40px;
    height: 40px;
    border-radius: 45%;

    background-image: url(carrito-de-compras.png);
    background-size: 22px;
    background-position: 45% 58%;
    background-repeat: no-repeat;

    border: 2px solid white; 
    background-color: #ffffff; 
    transition: background-color 0.01s ;


}
/*Parte 4*/
.parte4 {
    height: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
}




.parte4_1{
    height: 100%;
    display: grid;
    grid-template-rows: 18% 10% 72%;
}
.parte_1_1{
    height: 85%;
    width: 82%;
    display: grid;
    grid-template-columns: 70% 30%;
    border: 1px solid rgb(231, 231, 231);
    margin-left: 130px;
    margin-top: 20px;
}
.parte_1_1_1 h1{
    font-size: 1.2rem;  
    margin-left: 3%;
    color: rgb(245, 132, 26);
    margin-bottom: 2%;
    margin-top: 3%;
}
.parte_1_1_1 h2{
    font-size: 0.99rem;  
    margin-left: 3%;
    color: rgb(129, 127, 125);
    margin-bottom: 2%;
}
.parte_1_1_1 h3{
    font-size: 0.99rem;  
    margin-left: 3%;
    color: rgb(129, 127, 125);
    text-decoration:underline;
}
.parte_1_1_2 h1{
    font-size: 0.99rem;  
    margin-left: -7%;
    margin-top: 22%;
    color: rgb(129, 127, 125);
    text-decoration:underline;
}
.parte_1_2 h1{
    font-size: 1.5rem;  
    margin-left:15%;
    margin-top: 18px;
    color: rgb(44, 44, 44);
    
}
.parte_1_3{
    height: 100%;
    width: 100%;
}
.contenedor_parte4{
    
    height: 270px;
    width: 720px;
    display: grid;
    grid-template-rows: 58% 42%;
    border-bottom: 1px solid rgb(185, 183, 180);
    margin-left: 15%;
    height: 270px;
    width: 720px;
}

.sumas{
    height: 40px;
    width: 105px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    border-radius: 45px;
    margin-top: 12px;
    margin-left: 15px;
    border: 1px solid rgb(223, 218, 218); 
}
.sumas1{
    width: 39px;
    height: 39px;
    border-radius: 48%;
    margin-left: 1px;
    margin-top: -1px;
    background-image: url(borrar.png);
    background-size: 16px;
    background-position: 45% 58%;
    background-repeat: no-repeat;
    background-color: #ffffff; 
    border: 1px solid rgb(255, 255, 255); 
}
.sumas2{
    border-radius: 45%;
    margin-top: 10px;
    margin-left: 16px;
}
.sumas3{
    width: 39px;
    height: 39px;
    border-radius: 48%;
    margin-left: 1px;
    margin-top: -1px;
    background-image: url(mas.png);
    background-size: 22px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #ffffff; 
    border: 1px solid white; 
}
.sumas3:hover,.sumas1:hover{
    background-color: #eeecec; 
}

.parte_1_3 {
    overflow-y: auto; /* Habilita el scroll vertical */
    max-height: 520px; /* Ajusta la altura máxima según sea necesario */
}
.contenedor_parte4_1{
    display: grid;
    grid-template-columns: 25% 55% 20%;
}

.contenedor_parte4_1_1{
    margin-top: 10px;
    background-image: url(1.png);
    background-size: 160px;
    background-position: 45% 8%;
    background-repeat: no-repeat;
}

.contenedor_parte4_1_2 h1{
    font-size: 0.99rem;  
    margin-left:3%;
    margin-top: 18px;
    color: rgb(44, 44, 44);
}
.contenedor_parte4_1_2 h2{
    font-size: 0.99rem;  
    margin-left: 3%;
    margin-top: 1%;
    color: rgb(129, 127, 125);
}
.contenedor_parte4_1_2 h3{
    font-size: 0.99rem;  
    margin-left: 3%;
    margin-top: 1%;
    color: rgb(129, 127, 125);
    text-decoration:underline;
}
.contenedor_parte4_1_3 h1{
    font-size: 0.99rem;  
    margin-left:55%;
    margin-top: 18px;
    color: rgb(44, 44, 44);
}
.contenedor_parte4_2 h1{
    font-size: 0.99rem;  
    margin-left:1.5%;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(44, 44, 44); 
}
.contenedor_parte4_2 h2{
    font-size: 0.99rem;  
    margin-left:1.5%;
    margin-top: 7px; 
    color: rgb(44, 44, 44); 
    text-decoration:underline;
   
}


.pago1 h1{
    font-size: 1.5rem;  
    margin-left: 0%;
    margin-top: 4%;
    color: rgb(65, 64, 63);
}

.pago2 h1{
    font-size: 0.99rem;  
    margin-left: 0%;
    margin-top: 6%;
    color: rgb(65, 64, 63);
}
.pago3{
    display: grid;
    grid-template-rows: 28% 30%;
}
.pago3_1 h1{
    font-size: 0.99rem;  
    margin-left: 0%;
    margin-top: 3%;
    color: rgb(65, 64, 63);
}
.pago4 h1{
    font-size: 0.99rem;  
    margin-left: 0%;
    margin-top: 4%;
    color: rgb(65, 64, 63);
}
.pago5 h1{
    font-size: 0.99rem;  
    margin-left: 0%;
    margin-top: 2%;
    color: rgb(65, 64, 63);
    margin-bottom: 20px;
}
.pago6{
    display: grid;
    grid-template-rows: 28% 30%;
    margin-left: 0.5%;
    border-bottom: 1px solid rgb(185, 183, 180);
    border-top: 1px solid rgb(185, 183, 180);
    width: 335px;
}

.pago6_1 h1{
    font-size: 0.99rem;  
    margin-left: 0%;
    margin-top: 7%;
    margin-bottom: -2px;
    color: rgb(65, 64, 63);
}
.pago6_2 {
    font-size: 0.99rem;  
    margin-left: 80%;
    margin-top: 5px;
    color: rgb(65, 64, 63);
}
.pago3_2 {
    font-size: 0.99rem;  
    margin-left: 57%;
    margin-top: 5px;
    color: rgb(65, 64, 63);
}

.parte_1_3 {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #e0dbdb;
    --sb-size: 7px;
    margin-left: -30px;
    
    
  }
  
  .parte_1_3::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  .parte_1_3::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  .parte_1_3::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }


.pago7, .pago8{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pago7 button, .pago8 button {
    
    height: 58px;
    width: 72%;
    
    margin-left: -140px;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; 

    border: none;
    
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
   
    
}

.pago7 button{
    margin-top: 25px;
    color: white;
    background-color: #161616;
} 
.pago8 button {
    margin-top: -5px;
    color: rgb(0, 0, 0);
    background-color: #f0eeee;
    border: 1px solid #e4e2e2;
}
.pago8 button:hover{
    border: 1px solid #202020;
}

.pago7 button:hover {
    background-color: #4a4a4b; /* Color de fondo del botón en hover */
}



/*Parte 5*/

.parte5 {
    border: 1px solid rgb(231, 231, 231);
    height: 100%;
    display: grid;
    grid-template-rows: 65% 15% 20%;
}

.parte5final1{
display: grid;
grid-template-columns: 20% 30% 10% 40%;
}

.parte5prte1_1 h1{
    font-size: 0.9rem;      
    margin-left: 18%; 
    margin-top: 25%;  
    margin-bottom: 15%;
    color: rgb(63, 62, 62);
}

.parte5prte1_1 h2{
    font-size: 0.9rem;      
    margin-left: 18%; 
    margin-top: 6%; 
    color: rgb(121, 119, 119);
}

.parte5prte1_2 h1{
    font-size: 0.9rem;      
    margin-left: 24%; 
    margin-top: 16%;  
    margin-bottom: 10%;
    color: rgb(63, 62, 62);
}

.parte5prte1_2 h2{
    font-size: 0.85rem;      
    margin-left: 24%; 
    margin-top: 4.5%; 
    color: rgb(121, 119, 119);
}
.parte5prte1_3 h1{
    font-size: 0.9rem;      
    margin-left: 4%; 
    margin-top: 46%;  
    margin-bottom: 30%;
    color: rgb(63, 62, 62);
}

.parte5prte1_3 h2{
    font-size: 0.85rem;      
    margin-left: 4%; 
    margin-top: 14%; 
    color: rgb(121, 119, 119);
}

.esp {
    margin-top: 48px;
    margin-left: 79%;
    width: auto; 
    height: 40px; 
    display: flex;
    align-items: center; 
    background-image: url(red-mundial.png);
    background-size: 16px;
    background-position: left center; 
    background-repeat: no-repeat;
    padding-left: 20px; 
}

.esp h1 {
    font-size: 0.9rem;
    margin: 0; 
    color: rgb(121, 119, 119);
}

.parte5final2 h1{
    font-size: 0.85rem;      
    margin-left: 3.5%; 
    margin-top: 5.5%; 
    color: rgb(121, 119, 119);
}

.parte5final3 h1{
    font-size: 0.85rem;      
    margin-left: 3.5%; 
    margin-top: 1.7%; 
    color: rgb(121, 119, 119);
}